/* Styles for Projects page */

html {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

body {
    background-color: rgb(255, 249, 242);
}

.content {
    max-width: 97.5vw;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    gap: 1rem;
}