/* html styles
html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
} */

body {
    /* background-color as placeholder in case bg image doesn't load */
    background-color: rgb(217, 234, 211);
    /* background-image: url('---.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center; */
}

/* translucent overlay on bg
.bg-image styles
    background: rgba(0, 0, 0, 0.5); */

/* Taskbar & windows organization styles */
.content {
    width: 96vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Navigation bar / taskbar styles */
.navbar {
    box-sizing: border-box; /* h x w include content, padding, border sizes */
    background-color: rgb(182, 215, 168);
    width: 98vw;
    height: 6vh;
    padding: 0 2vw;
    border: 2px solid white;
    border-radius: 1.5vw;
    /* Arrange buttons inside the bar */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Windows styles */
.windows {
    display: flex;
    justify-content: space-between;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.window-about, .window-projects, .window-contact {
    box-sizing: border-box;
    background-color: rgb(182, 215, 168);
    padding: 1.5vw 2vw;
    border: 2px solid white;
    border-radius: 2vw;
}

/* Individual window styles */
.window-about {
    width: 48vw;
    height: 80vh;
}

.window-projects {
    width: 46vw;
    height: 50vh;
}

.window-contact {
    width: 46vw;
    height: 28vh;
}

/* Tabs styles */
.top-about, .top-projects, .top-contact {
    border-bottom: 0.5vw solid rgb(147, 196, 125);;
    /* Arrange tab name and buttons */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.tab-about, .tab-projects, .tab-contact {
    box-sizing: border-box;
    color: white;
    background-color: rgb(147, 196, 125);
    width: 18vw;
    height: 4vh;
    border-radius: 1.5vw 1.5vw 0 0;
    /* Arrange text within the tab box */
    padding: 0.2vw 1vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

/* Styling for all windows buttons */
.min, .max, .exit {
    background-color: rgb(147, 196, 125);
    border: none;
    border-radius: 0.5vw;
    width: 3vw;
    height: 3vh;
    margin-bottom: 0.2vw;
}

.symbol-min, .symbol-max, .symbol-exit {
    color: white;
    /* make sure buttons stay in middle of box */
    display: flex;
    justify-content: center;
    align-items: center;
}