/* html styles
html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
} */

body {
    /* background-color as placeholder in case bg image doesn't load */
    background-color: rgb(217, 234, 211);
    /* background-image: url('---.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center; */
}

/* translucent overlay on bg
.bg-image styles
    background: rgba(0, 0, 0, 0.5); */

/* Navigation bar / taskbar styles */
.navbar {
    box-sizing: border-box; /* h x w include content, padding, border sizes */
    background-color: rgb(182, 215, 168);
    width: 98vw;
    height: 5vh;
    padding: 0 2vw;
    border: 0.3vw solid white;
    border-radius: 1.5vw;
    /* Arrange buttons inside the bar */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Windows styles */
/* .windows {

} */

.window-about {
    box-sizing: border-box;
    background-color: rgb(182, 215, 168);
    width: 45vw;
    height: 80vh;
    padding: 1.5vw 2vw;
    margin: 2vw 0;
    border: 0.3vw solid white;
    border-radius: 2vw;
}

.top-about {
    /* Arrange tab name and buttons */
    display: flex;
    justify-content: space-between;
}

.tab-about {
    box-sizing: border-box;
    background-color: rgb(147, 196, 125);
    width: 18vw;
    height: 4vh;
    border: 0.1vw solid white;
    border-radius: 1.5vw 1.5vw 0 0;
    /* Arrange text within the tab box */
    padding: 0.2vw 1vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

/* .buttons-about {
    margin: 1vw;
} */

.buttons-about .min,
.buttons-about .max,
.buttons-about .exit {
    /* Placeholder w x h for buttons */
    width: 3vw;
    height: 3vh;
}